
.content {
  margin: 20px;
  min-height: 400px;
}

.article p, button, input, select, textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6,
.article-h1, .article-h2, .article-h3, .article-h4, .article-h5, .article-h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35;
}

.article p, .article pre, .article ul, .article ol, .article dl, .article form, .article hr, .article table, .article-p, .article-pre, .article-ul, .article-ol, .article-dl, .article-form, .article-hr, .article-table, blockquote {
  margin-bottom: 1.2em;
}

.link {
  color: #1890ff;
  cursor: pointer;
}

.article h1, .article-h1 {
  font-size: 2em;
}

.article h2, .article-h2 {
  font-size: 1.8em;
}

.article h3, .article-h3 {
  font-size: 1.6em;
}

.article h4, .article-h4 {
  font-size: 1.4em;
}

.article h5, .article h6, .article-h5, .article-h6 {
  font-size: 1.2em;
}

.article {
  width:90%;
  max-width: 960px;
  background:#fff;
  margin:3em auto 0;
  padding-top:2em;
  border:1px solid #ddd;
  border-width:0 1px;
  padding: 5% 10%;
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  font-size: 16px;
  text-align:justify;
}

.article ul, .article-ul {
  margin-left: 1.3em;
  list-style: disc;
}

.article ol, .article-ol {
  list-style: decimal;
  margin-left: 0;
  padding-left: 1.5em;
}

.article li ul, .article li ol, .article-ul ul, .article-ul ol, .article-ol ul, .article-ol ol {
  margin-bottom: 0.8em;
  margin-left: 2em;
}

.article li ul, .article-ul ul, .article-ol ul {
  list-style: circle;
}
.article pre {
  white-space: pre-wrap;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
  text-align:left;
}

.article pre, code, pre tt {
  font-family: Courier, 'Courier New', monospace;
}

.article h1{
  font-size: 2em;
}

.article h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
    color: #000;
    line-height: 1.35;
}